# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

Resources
build
*.local.bat
*.user
proj.qt/*.user.*
proj.qt/Makefile
Makefile.*
proj.qt/debug/
proj.qt/release/
Classes/BuildConfig.h
check.cppcheck
proj.qt/.Hp*
proj.emscripten/bin

proj.androi*/bin
proj.androi*/obj
proj.androi*/gen
proj.androi*/assets
proj.androi*/libs/armeabi/*
proj.androi*/build_android.local.bat
proj.androi*/local.properties
proj.androi*/src/com/x4enjoy/ADLib/*

EquationSolverConsole/*.user.*
EquationSolverConsole/Makefile
EquationSolverConsole/debug/
EquationSolverConsole/release/

Thumbs.db

MiFSolver/*.user.*
MiFSolver/Makefile
MiFSolver/debug/
MiFSolver/release/