<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="1944Enjoy.MathIsFunJunior" Publisher="CN=F1CD6E61-5266-4053-B967-3B3E82105EA3" Version="1.3.0.0" />
  <Properties>
    <DisplayName>ms-resource:AppName</DisplayName>
    <PublisherDisplayName>4Enjoy Games</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>Math Is Fun</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="mathisfun.App">
      <VisualElements DisplayName="ms-resource:AppName" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Math Is Fun Junior is an addictive puzzle game for children. It is totally safe. There are no in-app purchases and no ads. Math Is Fun Junior is the best choice to help your child to improve logical skills. Math Is Fun Junior is the game which educates while entertains." ForegroundText="dark" BackgroundColor="#9a09ff">
        <DefaultTile ShortName="Math Is Fun Junior" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#9a09ff" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
</Package>