<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="146264Enjoy.MultiplicationtableFunMathPremium" Publisher="CN=A3BBDB25-413A-450E-8D61-13C131086829" Version="1.1.0.0" />
  <Properties>
    <DisplayName>ms-resource:Appname</DisplayName>
    <PublisherDisplayName>4Enjoy</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3</OSMinVersion>
    <OSMaxVersionTested>6.3</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="X4Enjoy.App">
      <m2:VisualElements DisplayName="ms-resource:Appname" Description="ms-resource:Description" BackgroundColor="#ff5a00" ForegroundText="light" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" ToastCapable="false">
        <m2:DefaultTile Wide310x150Logo="Assets\LogoWide.png" Square310x310Logo="Assets\LogoBig.png">
        </m2:DefaultTile>
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
        </m2:InitialRotationPreference>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#ffffff" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>